

<!-- -----------------DELETE IF NOT WORKING-------------------------- -->
<div class="wrapper" ng-controller="DashboardCtrl" >

	<div class="sidebar" data-color="blue">

	    <!--

	        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
	        Tip 2: you can also add an image using data-image tag

	    -->

    	<div class="sidebar-wrapper">
            <div class="logo">
               <br/>
                <center>
                    <img style="width: 80%" src="assets/images/logo-white.png"/><br/>
                    <h4>Attendance System</h4>
                </center>    
            </div>

         
    	</div>
	</div>








	<div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">



<!-- --------------------------------------- -->


<div class="container-fluid"><!---Start of the container-fluid---->




	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>



    

    <div class="collapse navbar-collapse">
                   

                    <ul class="nav navbar-nav navbar-right">
                        <!--
                        <li>
                           <a href="">
                               Account
                            </a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Dropdown
                                    <b class="caret"></b>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                              </ul>
                        </li>
                        -->
                        <li>
                            <a href="#" ng-click="logout()">
                                Logout
                            </a>
                        </li>
                    </ul>
                </div>
                </div> <!--end of container fluid-->
                </nav>



<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="">


			  



				<!--error message box-->
        <div id="dialog-errorDash" >
          <p><span class="glyphicon glyphicon-alert" style="float:left; margin:12px 12px 20px 0; color:red; font-size: 1.7em"></span>{{errorMessage}}</p>
        </div>
        <!---->

        <!--success message box-->
        <div id="dialog-success">
          <p><span class="glyphicon glyphicon-ok" style="float:left; margin:12px 12px 20px 0; color:green; font-size: 1.7em"></span>{{successMessage}}</p>
        </div>
        <!---->





				<div ng-hide="results" class="col-md-12 content" ng-hide="loading">

				<button ng-click="openAddStudentForm()" class="btn btn-primary btn-lg btn-outline btn-rounded">Add Student</button>


					<div class="jumbotron">
				    	<h2 class="text-capitalize">Attendance System - {{$root.branch}}</h2> 
				    	

				    	<hr>
				    	<h4>Enter Student ID</h4>
						<input  class="form-control" ng-model="student_id" type="text" placeholder="e.g. A1234"  id="studentSearch"   onkeypress="checkInputAlphaNumeric(event)" >
						<br/>
						<button ng-click="getStudentByID(student_id)" class="btn btn-primary btn-lg btn-outline btn-rounded">Search</button>
							<span class="loadingGif" ng-show="loadingGif">
								<img id="mySpinner" src="assets/images/gears.gif" /><b>Searching...</b>
							</span>	
				  	</div>
				  	<!--div class="card col-md-12">
						if any problem, put the above from "<h3>enter stud to br/> here
					</div-->
				</div>


				<!--Add Student div-->
				<div ng-show="add" class="col-md-12 content">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3>Student Registration</h3>
						</div>
						<div class="panel-body">
							<!--div class="form-wrap"-->
								<div class="input-group">
									<span class="input-group-addon" id="basic-addon1">Age Group</span>
									<select ng-model="age_group_array.value" class="form-control" ng-options="x for x in age_group_array.values"  aria-describedby="basic-addon1" ng-change="getRegNo()"></select>
								</div>
								
								<div class="input-group">
									<span class="input-group-addon" id="basic-addon3">Batch</span>
									<input type="text" class="form-control" placeholder="Batch" aria-describedby="basic-addon3" ng-model="batchAdd" id="" ng-blur="getRegNo()">
								</div>

								<div class="input-group">
									<span class="input-group-addon" id="basic-addon2">Registration Number</span>
									<span class="input-group-addon" id="basic-addon2"><b>{{batchAdd}}</b></span>
									<input type="text" class="form-control" placeholder="Registration Number" aria-describedby="basic-addon2" ng-model="reg_noAdd" readonly>
								</div>

								<div class="input-group">
									<span class="input-group-addon" id="basic-addon4">Full Name</span>
									<input type="text" class="form-control" placeholder="Full name" aria-describedby="basic-addon4" ng-model="kids_nameAdd">
								</div>

								<div class="input-group">
									<span class="input-group-addon" id="basic-addon6">Parents Name</span>
									<input type="text" class="form-control" placeholder="Parents name" aria-describedby="basic-addon6" ng-model="parents_nameAdd" id="">
								</div>

								<div class="input-group">
									<span class="input-group-addon" id="basic-addon5">Age</span>
									<input type="number" class="form-control" placeholder="Age" aria-describedby="basic-addon5" ng-model="ageAdd"  min="4" max="50">
								</div>
								
								
								
								<div class="input-group">
									<span class="input-group-addon" id="basic-addon7">Email</span>
									<input type="email" class="form-control" placeholder="Email" aria-describedby="basic-addon7" ng-model="emailAdd" id="">
								</div>
								
								<div class="input-group">
									<span class="input-group-addon" id="basic-addon8">Phone</span>
									<input type="number" class="form-control" placeholder="Phone number" aria-describedby="basic-addon8" ng-model="phoneAdd" id="">
								</div>
								
								<div class="input-group">
									<span class="input-group-addon" id="basic-addon9">QR Code</span>
									<input type="text" class="form-control" placeholder="QR code" aria-describedby="basic-addon9" ng-model="qr_codeAdd" id="">
								</div>

								<br/>

								<button ng-click="addStudent()" class="btn btn-primary btn-md btn-outline btn-rounded">Add Student</button>
							<!--/div--> 
						</div>
					</div>
				</div>



				<div ng-show="results" class="col-md-12 content">
					
					
					<button ng-click="results=false;student_id=null" class="btn btn-danger btn-md btn-outline btn-rounded">Back</button>
					<br/><br/>
					
					

					<div class="panel panel-default">
						<div class="panel-heading">
							<h3>Student Details</h3>
						</div>
						<div class="panel-body">
							<div class="table-responsive">
								<table ng-table="StudTable" class="table table-bordered table-striped table-responsive">
										<tr > 
											<td data-title="'Registration Number'">{{reg_no}}</td>
											<td data-title="'Name'">{{name}}</td> 
											<td data-title="'Batch'">{{batch}}</td>
											<td data-title="'Age'">{{age}}</td>
											<td data-title="'Age Group'">{{age_group}}</td>
											<td data-title="'Parents Name'">{{parents_name}}</td>
											<td data-title="'E-mail'">{{email}}</td>
											<td data-title="'Phone'">{{phone}}</td>
											<td data-title="'QR Code'">{{qr_code}}</td>
										</tr>
								</table>
							</div>
						</div>
					</div>


			                            
					<!--For the calculation and display of monthly payment-->
					<div class="card col-md-12" style="padding:15px;">
						<h3>Payment Buttons</h3>
				        
				        	<div class="btn-group btn-group-lg" >
				        			


					        		<button ng-show="registration"  class="btn btn-success btn-outline" ng-click="openPaymentForm(0)">Registration</button> <!--payment done-->
					        		<button ng-hide="registration"  class="btn btn-danger btn-outline" ng-click="openForm(0)" ng-model="registration">Registration</button> <!--payment not done-->
					        	
					        		<button ng-show="payment1"  class="btn btn-success btn-outline" ng-click="openPaymentForm(1)">Payment 1</button>
					        		<button ng-hide="payment1"  class="btn btn-danger btn-outline" ng-click="openForm(1)">Payment 1</button>
					        	
						     		<button ng-show="payment2"  class="btn btn-success btn-outline" ng-click="openPaymentForm(2)">Payment 2</button>
						        	<button ng-hide="payment2"  class="btn btn-danger btn-outline" ng-click="openForm(2)">Payment 2</button>
						        
					        		<button ng-show="payment3"  class="btn btn-success btn-outline" ng-click="openPaymentForm(3)">Payment 3</button>
					        		<button ng-hide="payment3"  class="btn btn-danger btn-outline" ng-click="openForm(3)">Payment 3</button>
					        	
						        	<button ng-show="payment4"  class="btn btn-success btn-outline" ng-click="openPaymentForm(4)">Payment 4</button>
						        	<button ng-hide="payment4"  class="btn btn-danger btn-outline" ng-click="openForm(4)">Payment 4</button>
						        
						        	<button ng-show="payment5"  class="btn btn-success btn-outline" ng-click="openPaymentForm(5)">Payment 5</button>
						        	<button ng-hide="payment5"  class="btn btn-danger btn-outline" ng-click="openForm(5)">Payment 5</button>
						        
						        	<button ng-show="payment6"  class="btn btn-success btn-outline" ng-click="openPaymentForm(6)">Payment 6</button>
						        	<button ng-hide="payment6"  class="btn btn-danger btn-outline" ng-click="openForm(6)">Payment 6</button>
						    



						    
						    </div>
					    </div>   



			                                
					<!------------------------------------------------------------------------>
					<!--Now mark the attendance-->
					<!---->

					<br/>


					<div id="attButtons">

							<div class="col-md-6">
							<div ng-hide="markingAtt">
								<button ng-click="markAttendance()" class="btn btn-primary btn-lg btn-outline btn-rounded">Mark Attendance</button>
								
							</div>
							<div ng-show="markingAtt">
								<span class="loadingGifMark" ng-show="loadingGifMark">
									<img id="mySpinner" src="assets/images/gears.gif" /><b>Marking attendance...</b>
								</span>	
							</div>
							</div>

							<div class="col-md-6">
							<div ng-hide="viewingAtt">
								<!-- if not working, put view attendancce button here -->
								<button ng-click="viewAttendance()" class="btn btn-primary btn-lg btn-outline btn-rounded">View Attendance</button>
								<span class="loadingGifView" ng-show="loadingGifView">
									<img id="mySpinner" src="assets/images/gears.gif" /><b>Getting attendance...</b>
								</span>	
							</div>
							</div>
					
							<div ng-show="viewingAtt">

								<button ng-click="hideAttendance()" class="btn btn-primary btn-lg btn-outline btn-rounded">Hide Attendance</button><!--CODE THIS LATER-->

									<br/><br/>
									<div class="panel panel-default" id="panelAttendance" autoscroll="true">
										<div class="panel-heading">		
											<h4>Attendance Report for {{name}} ({{reg_no}})</h4>
										</div>
										<div class="panel-body">
											<div class="table-responsive">
												<table ng-table="AttTable" class="table table-bordered table-striped">
													<tr ng-repeat="att in $data track by $index"  > 
														<td data-title="'Registration Number'" sortable="'reg_no'">{{att.reg_no}}</td>
														<td data-title="'Attendance Date'" sortable="'date'">{{att.date | date:'mediumDate'}}</td> 
														<td data-title="'Batch'" sortable="'batch'">{{att.batch}}</td>
													</tr>
												</table>
											</div>
										</div>
										<div class="panel-footer">
											<button class="btn btn-primary btn-md btn-outline btn-rounded" ng-click="printMe()">Print Attendance Report</button>
										</div>
									</div>
								



							</div>
					</div>

			

					<div id="formDiv">
					<!--we want login form to be shown after id is searched for-->
						<!-- Popup Div Starts Here -->
						<div id="popupLogin">
						<!-- Payment Form -->
							<form  id="form" method="post" name="form">
									<!--put a cross image for close-->
								<span id="closeForm" class="glyphicon glyphicon-remove-sign" ng-click="closeForm()"></span>
								<h3>Payment Form</h3>
								<hr id="loginLine">

								Payment type : <b>{{payment_type}}</b>

								<br/>

								<div class="input-group">
									<span class="input-group-addon">LKR</span>
									<input id="amount" name="amount" placeholder="Amount" type="number" class="form-control" ng-model="amount" min="1000" max="100000" aria-label="Amount (to the nearest Rs.)" required><br/>
								</div>
								<br/>
								<div class="input-group">
									<span class="input-group-addon" id="basic-addon3">  <i class="glyphicon glyphicon-asterisk"></i></span>
									<input id="invoiceNumber" name="invoiceNumber" placeholder="Invoice number" type="text" class="form-control" ng-model="invoiceNumber" aria-describedby="basic-addon3" required>
								</div>
								<hr/>
								<h5>Login to verify payment</h5>
								<div class="input-group">
									<span class="input-group-addon" id="basic-addon1">  <i class="glyphicon glyphicon-user"></i></span>
									<input id="uname" name="uname" placeholder="Username" type="text" class="form-control" ng-model="username" aria-describedby="basic-addon1" required><br/>
								</div>
								<br/>
								<div class="input-group">
									<span class="input-group-addon" id="basic-addon2">  <i class="glyphicon glyphicon-lock"></i></span>
									<input id="password" name="password" placeholder="Password" type="password" class="form-control" ng-model="password" aria-describedby="basic-addon2" required>
								</div>
								
								<br/>
								<button id="submit"  class="btn btn-primary btn-lg btn-outline btn-rounded" ng-click="verifyPayment(username,password)">Make payment</button>
								






							</form>
						</div>	
						<!-- Popup Div Ends Here -->
					</div>


					<!--Form for displaying payment details -->
					<div id="paymentFormDiv">
						<div id="popupPayment">
							<form id="paymentForm" method="post" name="form">
								<span id="closeForm" class="glyphicon glyphicon-remove-sign" ng-click="closePaymentForm()"></span>
								<h3>Payment Details</h3>
								<hr/>
								<p>Payment Date : <b>{{displayPaymentDate | date:'mediumDate'}}</b></p>
								<p>Payment Type : <b>{{displayPaymentType}}</b></p>
								<p>Payment Amount : <b>{{displayPaymentAmount}}</b></p>
								<p>Invoice Number : <b>{{displayInvoiceNumber}}</b></p>
								<button id="submit"  class="btn btn-primary btn-lg btn-outline btn-rounded" ng-click="closePaymentForm()">OK</button>
							</form>
						</div>
					</div>

				</div> <!-- end of ng-show results -->



</div>
</div> 
</div>
</div> 


	<footer class="footer" id="footerScroll">
            <div class="container-fluid">
                <nav class="pull-left">
                    
                </nav>
                <p class="copyright pull-right">
                    &copy; {{dateNow | date:'yyyy'}} <a href="http://www.igniterspace.com">IgniterSpace</a>
                </p>
            </div>
        </footer>


</div> <!--main panel-->
</div> <!--end wrapper-->
